/*------------------------------------------------------------------
[ Button ]*/
.btn-new {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-new {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background: #ffa500;

    font-family: Montserrat-Bold;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-new:hover {
    background: #333333;
}

.curse-img-header {
    position: unset;
    height: 10rem;
    grid-column: 1 / 6;
}

.box-cate {
    color: black;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    font-size: 12px;
    opacity: 0.5;
}

.box-cate:hover {
    opacity: 1;
    color: orange;
}

.bubble {
    color: black;
    background-color: orange;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.bubble:hover {
    background-color: #8292a2;
    color: white;
}

/*------------------------------------------------------------------
[ Responsive alert]*/

.curse-container {
    background-color: white;
    padding: 10px;
    grid-column: 2 / 6;
    grid-row: 2;
}

.column-content {
    display: inline;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #000000;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
}

.discusstitle {
    font-size: 22px;
    font-weight: bold;
    display: inline;
    color: black;
}

/* .discussbody {
    padding: 10px;
    width: 85%;
    display: inline-block;
    font-size: 15px;
} */

.discussname {
    float: right;
    color: black;
    font-size: 13px;
}

.discussitem {
    display: inline;
    text-align: right;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 5px;
}

.discussitem:hover {
    background-color: orange;
}

.discussitemcon {
    text-align: center;
}

.discussitemconc {
    text-align: right;
}

.cursoreview {
    text-align: center;
}

.curso-message {
    background-color: white;
}

.nuevotema {
    float: right;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    background-color: orange;
}

.nuevotema:hover {
    background-color: #8292a2;
    color: white;
}

.discussbody img {
    width: 100%;
}
.discuss {
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border-bottom: 1px outset;
}

.discuss:hover {
    border-radius: 0px;
    padding: 15px;
    transition: box-shadow 0.25s linear;
    transition: padding 0.25s linear;
}
.name-d {
    font-size: 20px;
}

.contenidod {
    padding: 10px;
    font-size: 21px;
    font-weight: initial;
}

.contenidod img {
    width: 500px;
}

.discussli {
    border-radius: 15px;
    display: block;
    background-color: #f0f0f0;
    border-bottom: 1px solid orange;
    margin-top: 10px;
    background-color: white;
}
.discussli:hover {
    border: 2px solid #8292a2;
}

.aside {
    grid-column: 1 / 2;
    grid-row: 2;
}

@media (max-width: 1050px) {
    .column-content {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .curse-container {
        margin-left: 0px;
    }

    .aside {
        width: unset;
    }

    .contenidod img {
        width: 250px;
    }

    .discussbody {
        width: 100%;
    }

    .container {
        display: inherit;
    }
}

#new_discussion,
#new_comentario,
#edit_comentario {
    display: none;
    border: 2px solid orange;
    /* position: fixed; */
    top: 0px;
    width: minmax(300px, 750px);
    /* margin-left: -375px; */
    left: 50%;
    height: auto;
    background: #fff;
    z-index: 9999;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
    padding: 10px;
    border-radius: 15px;
}

@media (max-width: 1250px) {
    #new_discussion,
    #new_comentario,
    #edit_comentario {
        width: 80%;
        left: 0px;
        margin-left: 10%;
        padding: 10px;
    }
}

@media (max-width: 992px) {
    #new_discussion,
    #new_comentario,
    #edit_comentario {
        width: 100%;
        left: 0px;
        margin-left: 0px;
        padding: 10px;
    }
}

.containerfs {
    background-color: white;
    display: inline;
    padding: 5px;
    min-height: 84vh;
}
.comentar,
.nuevocomentario,
.btn {
    margin-top: 10px;
    background-color: #ffa500;
    padding: 10px;
}

.comentar:hover,
.nuevocomentario:hover,
.btn:hover {
    background-color: #262626;
    color: white;
}

.curse-headerfs {
    text-align: center;
}

.curse-headerfs {
    width: 100%;
    background: white;
    padding: 10px;
}

.curse-containerfs {
    width: 100%;
}

@media (max-width: 992px) {
    .containerfs {
        display: block;
    }
    .contenidod {
        font-size: 16px;
        font-weight: initial;
    }

    .curse-headerfs,
    .curse-containerfs {
        width: 100%;
    }

    .curse-containerfs {
        margin-left: 0px;
    }

    .curse-headerfs {
        position: initial;
    }
}

.canedit {
    visibility: visible;
    z-index: 1;
    position: absolute;
    margin-left: 80px;
}

.userpost {
    padding: 5px;
    font-size: 15px;
    color: orange;
}

.pull-right {
    float: right;
}

/* .container {
    display: unset;
} */

.imagep {
    width: 100px;
    border: 1px solid;
    overflow: hidden;
    height: 100px;
    display: inline-flex;
    align-items: center;
}

.imagep img {
    width: 100%;
}

.posts-content {
    padding: 10px;
}

.user-name-header {
    padding-left: inherit;
    margin-top: inherit;
    margin-left: inherit;
}

@media (max-width: 992px) {
    .imagep {
        display: none;
    }

    .containerfs {
        display: inline;
    }
}

#wrap100 {
    background-color: inherit;
}

.curse-header {
    margin-left: inherit;
    padding: 10px;
    grid-column: 2 / 6;
    grid-row: 2/2;
}

.regresar {
    background-color: orange;
    padding: 5px;
    position: absolute;
}

.regresar:hover {
    color: white;
    background-color: #8292a2;
    border-radius: 0px;
    padding: 6px;
    transition: box-shadow 0.25s linear;
    transition: padding 0.25s linear;
}

.posts-content {
    padding: 10px;
}

.discussli {
    display: flex;
}

.inline-c {
    display: inline;
    padding: 10px;
}

.categoria {
    display: inline-block;
}

.row {
    display: inline;
}

#new_discussion_footer {
    display: inline;
}

.btnd {
    background-color: orange;
    padding: 10px;
}

.btnd:hover {
    background-color: #8292a2;
}

#title {
    width: 100%;
    padding: 5px;
}

.post-user {
    padding: 5px;
    background-color: white;
    text-align: center;
    border-right: 1px solid #cdcdcd;
}

.post-data {
    width: 100%;
    margin-left: 30px;
    padding: 10px;
}

#down-p {
    width: 100%;
    height: 100px;
}

@media (max-width: 1050px) {
    .discussli {
        display: inherit;
    }

    .post-user {
        border-right: inherit;
        border-bottom: 1px solid #cdcdcd;
    }
}

.menud {
    cursor: pointer;
    background-color: #f9f9f9;
    position: absolute;
    margin-left: calc(100% - 56%);
    padding: 2%;
    margin-top: calc(100% - 80%);
    text-align: center;
    width: 200px;
    visibility: hidden;
    border-radius: 10px;
}

.menud-option {
    display: inline-block;
    width: 45%;
    text-align: center;
}

.menud-option:hover {
    background-color: orange;
    color: white;
}

.menud-option-confirmar:hover {
    background-color: red;
}

.top-dis {
    padding: 5px;
    border-radius: 8px;
    color: black;
}

.scategoria {
    display: none;
}

.container {
    grid-template-rows: inherit;
}
