/*------------------------------------------------------------------
[ Button ]*/
.btn-new {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-new {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background: #ffa500;

    font-family: Montserrat-Bold;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-new:hover {
    background: #333333;
}

.curse-img-header {
    position: unset;
    height: 15rem;
}

.box-cate {
    color: white;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    font-size: 12px;
    opacity: 0.5;
}

.box-cate:hover {
    opacity: 1;
}

.bubble {
    color: white;
    background-color: orange;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.bubble:hover {
    background-color: #262626;
    color: orange;
}

/*------------------------------------------------------------------
[ Responsive alert]*/

.curse-container {
    background-color: white;
}

.column-content {
    margin-left: unset;
    padding: 1rem;
}

.column-content {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #000000;
    border-radius: 5px;
    padding: 20px;
}

.discusstitle {
    font-size: 22px;
    font-weight: bold;
}

.discussbody {
    padding: 10px;
    width: 85%;
    display: inline-block;
    font-size: 15px;
}

.discussname {
    color: whitesmoke;
    font-size: 13px;
}

.discussitem {
    display: inline;
    text-align: right;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.discussitem:hover {
    background-color: orange;
}

.discussitemcon {
    margin-top: 5px;
    text-align: end;
}

.cursoreview {
    text-align: center;
}

.nuevotema {
    position: absolute;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.nuevotema:hover {
    background-color: #8292a2;
    color: white;
}

.discussbody img {
    width: 100%;
}
.discuss {
    cursor: pointer;
}

.discuss:hover {
    border-radius: 0px;
    padding: 15px;
    box-shadow: 0 -0.25rem 0 #262626 inset;
    transition: box-shadow 0.25s linear;
    transition: padding 0.25s linear;
}
.name-d {
    font-size: 20px;
}

.contenidod {
    padding: 10px;
    font-size: 21px;
    font-weight: initial;
}

.contenidod img {
    width: 500px;
}

.discussli {
    border-radius: 15px;
    display: block;
    background-color: #f0f0f0;
    border-bottom: 1px solid orange;
    margin-top: 10px;
}
.discussli:hover {
    background-color: #8292a2;
}

@media (max-width: 992px) {
    .column-content {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .curse-container {
        margin-left: 0px;
    }

    .aside {
        width: unset;
    }

    .contenidod img {
        width: 250px;
    }

    .discussbody {
        width: 100%;
    }
}

#new_discussion,
#new_comentario,
#edit_comentario {
    display: none;
    border: 2px solid orange;
    border-bottom: 0px;
    position: fixed;
    bottom: 0px;
    width: minmax(300px, 750px);
    margin-left: -375px;
    left: 50%;
    height: auto;
    background: #fff;
    z-index: 9999;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
    padding: 10px;
    border-radius: 15px;
}

@media (max-width: 1250px) {
    #new_discussion,
    #new_comentario,
    #edit_comentario {
        width: 80%;
        left: 0px;
        margin-left: 10%;
        padding: 10px;
    }
}

@media (max-width: 992px) {
    #new_discussion,
    #new_comentario,
    #edit_comentario {
        width: 100%;
        left: 0px;
        margin-left: 0px;
        padding: 10px;
    }
}

.containerfs {
    background-color: white;
    display: inline;
    padding: 5px;
    min-height: 84vh;
}
.comentar,
.nuevocomentario,
.btn {
    margin-top: 10px;
    background-color: #ffa500;
    padding: 10px;
}

.comentar:hover,
.nuevocomentario:hover,
.btn:hover {
    background-color: #262626;
    color: white;
}

.curse-headerfs {
    text-align: center;
}

.curse-headerfs {
    width: 100%;
}

.curse-containerfs {
    width: 100%;
}

@media (max-width: 992px) {
    .containerfs {
        display: block;
    }
    .contenidod {
        font-size: 16px;
        font-weight: initial;
    }

    .curse-headerfs,
    .curse-containerfs {
        width: 100%;
    }

    .curse-containerfs {
        margin-left: 0px;
    }

    .curse-headerfs {
        position: initial;
    }
}

.regresar {
    background-color: orange;
    padding: 5px;
    position: absolute;
}

.regresar:hover {
    color: white;
    background-color: #262626;
}

.canedit {
    visibility: visible;
    z-index: 1;
    position: absolute;
    margin-left: 80px;
}

.userpost {
    font-size: 15px;
    display: inline;
    color: orange;
}

.pull-right {
    float: right;
}

.container {
    display: unset;
}

.imagep {
    width: 100px;
    border-radius: 100%;
    border: 1px solid;
    overflow: hidden;
    height: 100px;
    display: inline-flex;
    align-items: center;
}

.posts-content {
    padding: 10px;
}

.user-name-header {
    padding-left: inherit;
    margin-top: inherit;
    margin-left: inherit;
    width: 100%;
}

@media (max-width: 992px) {
    .imagep {
        display: none;
    }

    .containerfs {
        display: inline;
    }
}
