.clases-header {
    display: flex;
    align-items: center;
    transition: left 0.5s cubic-bezier(0.55, 0, 0.1, 1),
        right 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    background-color: white;
    position: relative;
    width: auto;
    height: 6.6875rem;
    padding: 0 1.875rem;
    border-bottom: 1px solid #cdcdcd;
}

.clases-options-bar {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    justify-content: initial;
    margin: 1.875rem 0 0.9375rem;
    padding: 0 1.875rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "a b"
        "c d";
    margin: 0.625rem 0 0.3125rem;
    padding: 0 1rem;
}

.options-bar-r {
    grid-row: 2;
    grid-column: 2 / 2;
    grid-area: b;
}

.options-bar-l .vis-opt {
    margin-right: 1.25rem;
    grid-row: 2;
    grid-column: 1 / 2;
    grid-area: a;
}

.icon {
    height: 3.75rem;
    width: 4rem;
    align-items: center;
    vertical-align: top;
    background-color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-weight: 400;
    color: #262626;
    line-height: 1.125rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.icon a {
    padding: 0.1rem;
}

.icon a,
.icon img {
    width: 100%;
    height: 100%;
    padding: 12px;
}

.icon img:hover {
    border: 1px solid orange;
}

.icon img {
    border-style: inset;
}

.icon a.w--current img,
li.active a {
    background-color: #ffa500;
    border-style: outset;
}

.btn {
    background-color: white;
    padding: 5px;
}

.btn:hover {
    background-color: orange;
}

/*------------------------------------------------------------------
[ Responsive header]*/

@media (max-width: 1050px) {
    .clases-header {
        display: none;
    }

    .icon {
        vertical-align: inherit;
    }
}

/*-------------------------------------------------------------------*/

.credentialing {
    --bg-color: #b8f9d3;
    --bg-color-light: #e2fced;
    --text-color-hover: black;
    --box-shadow-color: rgba(230, 167, 72, 0.911);
    padding: 2rem;
}

.credentialing input {
    padding: 1px;
    border-bottom: 1px solid orange;
}

.clases-content {
    display: block;
}

.card {
    margin: 5px;
    width: 100%;
    height: 200px;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(orange);
}

.card:hover .overlay {
    transform: scale(4) translateZ(0);
}

.card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}

.card:hover .circle:after {
    background: var(--bg-color-light);
}

.card:hover p {
    color: orange;
    border-bottom: orange 1px solid;
}

.card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
        0 15px 24px var(--box-shadow-color);
}

.card p {
    font-size: 20px;
    color: black;
    z-index: 1000;
    transition: color 0.3s ease-out;
    margin-left: 15px;
    margin-top: 85px;
}

.circle {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: all 0.3s ease-out;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    height: 80px;
    width: 80px;
    top: -5%;
    left: 5%;
}

.circle img {
    z-index: 10000;
    transform: translateZ(0);
}

.overlay {
    width: 100%;
    position: absolute;
    height: 80px;
    background: var(--bg-color);
    z-index: 0;
    transition: transform 0.3s ease-out;
}

.box {
    background-color: white;
    color: #fff;
    border-radius: 5px;
    font-size: 150%;
}

.box:nth-child(even) {
    background-color: white;
    color: #f9f9f9;
}

.content-tb {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 23.5%);
}

.clase-tittle {
    margin-left: 50px;
}

/*------------------------------------------------------------------
[ Responsive content]*/

@media (max-width: 1050px) {
    .content-tb {
        grid-template-columns: repeat(3, 33%);
    }
}

@media (max-width: 800px) {
    .clases-content {
        display: inline;
    }

    .clase-tittle {
        padding: 5px;
    }

    .card {
        height: 177px;
    }

    .card p {
        color: black;
        width: 100%;
    }
    .small-text {
        font-size: 11px;
    }

    .overlay {
        top: 0px;
        left: 0px;
        border-radius: 0%;
        height: 100%;
    }

    .circle {
        position: absolute;
    }

    .content-tb {
        grid-template-columns: repeat(1, 100%);
    }

    .icon {
        height: 1.75rem;
    }
    .credentialing .btn {
        background-color: orange;
    }
}

/*-------------------------------------------------------------------*/

.pagination {
    background-color: white;
    display: flex;
}

.page-item {
    margin: 10px;
    width: 2rem;
}

.page-link {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.page-item:hover {
    border: orange solid 1px;
    font-size: 16px;
}

.active {
    background-color: orange;
}

/*-------------------------------------------------------------------*/

.clase-text {
    display: flex;
}

.clase-img-top {
    z-index: inherit;
    border-radius: inherit;
    width: 100%;
    height: 100%;
}
