/* common styles */
html {
    font-size: 14px;
    color: #ffa500;
    font-family: Poppins-Regular, sans-serif;
}

body {
    background-color: #ffffff;
    margin: 0;
}

/*Contenedor*/
.container {
    background-color: #ffffff;
    min-height: 95vh;
    padding: 1rem;
}

.right-container {
    background-color: #ffa500;
    margin-left: 10%;
    height: 65vh;
    padding: 3rem;
    display: grid;
    grid-template-columns: auto auto;
}

.book-container {
    background: url("../resources/welcome1.jpg") no-repeat;
    background-size: cover;
    background-color: #405a68;
    width: 30rem;
    height: 40rem;
    filter: grayscale(80%) saturate(11);
}

.book-tittle {
    background-color: #0000ff5e;
    color: white;
    font-size: 3.4286rem;
    line-height: 3.4286rem;
    font-weight: lighter;
    padding-bottom: 0.75rem;
    font-family: "Noto Serif", sans-serif;
    margin-top: 25rem;
}

.information-container {
    font-family: "Open Sans", sans-serif;
    padding: 0.3rem;
}

.information-header {
    padding: 1rem;
    font-size: 2.9rem;
    line-height: 3.4286rem;
    padding-bottom: 0.75rem;
    color: white;
    padding-top: 13rem;
}

.informacion-content {
    padding: 1rem;
    color: #f0f0f0;
}

.footer-container {
    font-size: large;
}

/*Fin contenedor*/

a:visited {
    color: #c56fd5;
}

a {
    color: #ffffff;
}

a:hover {
    color: #2075a3;
}

.floating-header {
    height: 2.357rem;
    width: 86%;
    position: fixed;
    top: 1rem;
    margin-left: 11%;
}

.floating-header .float-left,
.footer .float-left {
    padding-left: 2.143rem;
}

.floating-header .float-right,
.footer .float-right {
    padding-right: 0.143rem;
}

.logo {
    width: 1.643rem;
    margin-top: 0.1rem;
}

.header-logo-subtitle {
    height: 1.214rem;
    font-family: "Gotham-Book", serif;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
}

.footer {
    height: 5.929rem;
    background-color: #ffffff;
    font-size: 0.8571rem;
    padding-top: 1.429rem;
}

.footer a {
    color: #262626;
    padding-right: 0.3571rem;
}

.copyright,
.footer-links {
    color: #666666;
    line-height: 2.143rem;
}

.footer .float-right {
    text-align: right;
}

button,
a.button,
a.button:visited,
a.button:active {
    border-radius: 0.1429rem;
    background-color: #ffa500;
    border: solid 1px #ffa500;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    text-align: center;
    height: 2.714rem;
    text-decoration: none;
}

a.button {
    line-height: 2.714rem;
    display: inline-block;
}

.header-button,
a.header-button,
a.header-button:visited {
    width: 5.587rem;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    border: 1px solid #ffffff5e;
}

.header-button:hover,
a.header-button:hover {
    background-color: #0000ff5e;
}

.header-button:active,
a.header-button:active {
    background-color: #c56fd5;
    border: solid 1px #767676;
}

.header-button:focus {
    border: solid 1px transparent;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.align-center {
    text-align: center;
}

.label {
    display: block;
    font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 1370px) {
    .header-button,
    a.header-button,
    a.header-button:visited {
        width: 10.587rem;
        margin-top: 1.2rem;
        margin-left: 1.2rem;
        border: 2px solid #ffffff5e;
        font-size: 2rem;
        padding: 0.5rem;
    }
    .information-header {
        font-size: 5rem;
    }
    .informacion-content {
        font-size: 20px;
    }
    .book-container {
        width: 40rem;
        height: 60rem;
    }
    .book-tittle {
        font-size: 5.4286rem;
        line-height: 5.4286rem;
        margin-top: 32rem;
    }
    .copyright {
        font-size: large;
    }
    .logo {
        width: 4.643rem;
    }
    .header-logo-subtitle {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1020px) {
    .right-container {
        height: unset;
    }
    .copyright {
        font-size: x-small;
    }
}

@media screen and (max-width: 865px) {
    .right-container {
        margin-left: unset;
        grid-template-columns: unset;
    }
    .information-header {
        padding-top: unset;
    }
}

@media screen and (max-width: 530px) {
    .book-container {
        width: 300px;
        height: 500px;
    }

    .floating-header {
        margin-left: unset;
    }
}
